
<mat-grid-list cols='5' rowHeight="5:4" [gutterSize]="'10px'">
    <mat-grid-tile *ngFor='let pokemon of pokeList'>
        <app-pokemon-card 
            [pokemon] = "pokemon">
        </app-pokemon-card>
    </mat-grid-tile>
</mat-grid-list>
<div id="center">
    <button mat-fab color="accent" (click)="getPreviousSetOfPokemon()"><mat-icon>fast_rewind</mat-icon></button>
    <button mat-fab color="accent" (click)="getNextSetOfPokemon()"><mat-icon>fast_forward</mat-icon></button>
</div>

