<h1>{{name}}</h1>
<mat-grid-list cols='5' rowHeight="5:4" [gutterSize]="'10px'">
    <mat-grid-tile *ngFor='let pokemon of pokeArray'>
        <app-pokemon-card 
            [pokemon] = "pokemon">
        </app-pokemon-card>
    </mat-grid-tile>
</mat-grid-list>