<div id="center">
    <button mat-fab color="accent" (click)="catch(thePokemon)">Catch it!</button>
</div>
<div id="flexRow">
    <div>
        <h1>Base Stats!</h1>
        <h2>Name: {{thePokemon.name}}</h2>
        <img [src]="thePokemon.sprite" alt="Picture of the pokemon" style="width:300px;height:300px;">
        <h2>BaseStats: 
            <ul *ngFor='let stat of thePokemon.baseStats'>
                <li>{{stat}}</li>
            </ul>
        </h2>
        <h2>Types: 
            <ul *ngFor='let type of thePokemon.types'>
                <li>{{type.type.name}}</li>
            </ul>
        </h2>
    </div>
    <div>
        <h1>Profile!</h1>
        <h2>Height: {{thePokemon.height}}</h2>
        <h2>Weight: {{thePokemon.weight}}</h2>
        <h2>BaseExp: {{thePokemon.baseExp}}</h2>
        <h2>Abilities: 
            <ul *ngFor='let ability of thePokemon.abilities'>
                <li>{{ability}}</li>
            </ul>
        </h2>

    </div>
    <div>
        <h1>Moves: 
            <ul *ngFor='let move of thePokemon.moves'>
                <li>{{move}}</li>
            </ul>
        </h1> 
    </div>
</div>