#center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3px;
}
#flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}