<mat-toolbar color='accent' id="center" [class.mat-elevation-z8]="true">
    <span>Pokemon!   </span>
    <button routerLink="/catalogue">Catalogue!    </button>
    <button routerLink="/profile">Trainer!    </button>
    <button (click)='logout()' routerLink="/login">Log out!</button>
</mat-toolbar>
<router-outlet></router-outlet>