<mat-card id="pokeCards"> 
    <mat-card-title-group>
        <mat-card-title>{{pokemon.name}}</mat-card-title>
        <img mat-card-md-image [src]="pokemon.sprite">
    </mat-card-title-group>
    <button mat-mini-fab color="accent" routerLink="/details" (click)="storePokemon(pokemon)">Go to</button>
</mat-card>

