<mat-form-field>
    <mat-label>What's your trainer name!</mat-label>
    <input matInput [(ngModel)]='username'>
</mat-form-field>
<button mat-fab color="accent" (click)="sendUsername()" routerLink="/catalogue">Register</button>